<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>にゃー</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<h2 th:text=#{title.neko}>Neko CHAN</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th th:text=#{label.name}>名前</th>
				<th th:text=#{label.age}>年齢</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="neko, status : ${nekoList}" th:object="${neko}"><!-- nekoListの数だけループ -->
				<td th:text="${status.count}"></td><!-- countは1スタートでカウント可能 -->
				<td th:text="${neko.name}"></td><!-- オブジェクトの値を参照 -->
				<td th:text="*{age}"></td><!-- th:objectで指定した場合は*で参照可能 -->
			</tr>
		</tbody>
	</table>
</body>
</html>